.filter{
    background-color: #202020bd;
    border-top:1px solid #313131 ;
    border-bottom: 1px solid #313131;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    position: fixed;
    top: 55px;
    z-index: 1000;

    overflow-x: scroll;
    overflow-y: hidden;

    &-item{
        padding: 6px 12px;
        margin: 8px 8px;
        background-color: #313131;
        border: 1px solid #3f3f3f;
        border-radius: 20px;
        font-weight: 300;
        cursor: pointer;
        &:hover{
            background-color: #3f3f3f;
        }
    }
}