.nav{
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background-color: #202020;
    
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    .icon-yt{
        position: relative;
        display: inline-block;
        padding: 8px;
        border-radius: 50%;
        cursor: pointer;
    }

    &-left{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &-logo{
        margin: 16px;
        height: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        span{
            font-size: 20px;
        }
    }

    &-center{
        transition: 0.25s;
        .input{
            display: flex;
            flex-direction: row;
            align-items: center;
            input{
                font-size: 16px;
                padding: 0 8px;
                height: 40px;
                width: 525px;
                color: white;
                background-color: #121212;
                border: 1px solid #313131;
                outline: none;
                transition: width 0.25s;
            }
            .close{
                position: absolute;
                right: 20px;
                cursor: pointer;
                color: #D0D0D0;
            }
            &-search{
                background-color: #313131;
                height: 40px;
                padding: 4px 16px;
                vertical-align: middle;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

        }
    }
    
}
@media screen and (max-width: 1024px) {
    .nav{
    
        &-logo{
            span{
                display: none;
            }
        }
        &-center{
            justify-self: end;
            .input{
                width: 100%;
                input{
                    width: 100%;
                    padding: 0;
                }
            }
            .hiddenSearchInput{
                input{
                    width:0;
                }
            }
        }
    }
    
}