.listVideo{

    display: flex;
    flex-direction: column;
    gap: 10px 0;
    &-item{
        width: 100%;
        cursor: pointer;
        &:hover{

            background-color: #313131;
        }
    }
    &-thumb{
        float: left;
        width: 168px;
        height: 94px;
        background-color: #121212;
        margin-right: 5px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        span{
            position: absolute;
            bottom: 5px;
            right: 5px;
            padding: 3px;
            background-color: #121212;
            opacity: 0.8;
            font-size: 12px;
            border-radius: 3px;
        }
    }
    &-right{
        padding-left: 5px;
    }
    &-title{
        height: 38px;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    &-nameChannel{
        font-size: 14px;
        color: rgb(82, 82, 82);
        &:hover{
            color: white;
        }
    }
}